/* Authentifier*/

.connexion{
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    background-color: var(--back);
    padding: 20px;

    @media only screen and (min-width: 768px) {
        grid-template-columns: 80% 20%;
    
    }
    @media only screen and (min-width: 1200px) {
        grid-template-columns: 85% 15%;
    
    }

    @media only screen and (min-width: 992px) {
        padding:50px;
    
    }

    & .logo02{
        width: 50%;
            
        @media only screen and (min-width: 992px) {
            width: 30%;
        
        }
    }

    & button{
        background-color: var(--rose);
        color: white;
        font-family: 'Plus Jakarta Sans'; 

    }

   & button:hover {
        background-color: var(--roseHover);
      }
}